

.listed-header {
  background-color: #f5f5f5;
  width: 100vw;
  height: 130px;
  padding: 40px;
  text-align: center;
}

.listed-title {
  height: 80px;
  text-align: center;
  padding-top: 30px;
  font-size: 25px;
  font-weight: bold;
}

.profit {
  text-align: center;
  font-weight: bold;
  border-bottom: black solid 1px;
  width: 400px;
  margin: 0 auto;
}

/* 商品一覧 */

.listed-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.sold-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

.sold-out>span {
  color: #FFF;
  font-size: 45px;
  font: bold;
}


.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


/* /下部ボタン */

.listed-footer {
  background-color: #f5f5f5;
  width: 100vw;
  padding: 3ch 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.listed-footer>.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3vh 0;
}

.menu>li>a {
  color: black;
  font-size: 12px;
  margin: 2vw;
}

.inc {
  font-size: 13px;
}